<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     					data-sly-call="${clientlib.all @ categories='jquery3.2.1,bootstrap3.3.7'}"/>



<div data-sly-include="header.html"></div>
<div class="body_content container_16">
    <div class="content_title grid_16" data-sly-resource="${'breadcrumb' @ resourceType='foundation/components/breadcrumb'}"></div>

    <div class="content_title grid_16" data-sly-resource="${'title' @ resourceType='w3/components/training-title'}"></div>




    <div class="container">

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">Click para mostrar/ocultar componente x</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body"><div class="content_main grid_12" data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div></div>

          </div>
        </div>
      </div>
    </div>



</div>


<div data-sly-include="footer.html"></div>