<div data-sly-include="header.html"></div>
<div class="container">
    <div class="breadcrumb" data-sly-resource="${'breadcrumb' @ resourceType='foundation/components/breadcrumb'}"></div>
</div>
<div class="container">
  <section class="container__section">
    <div data-sly-resource="${'title' @ resourceType='w3/components/training-title'}"></div>
    <div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>
  </section>
</div>
<div data-sly-include="footer.html"></div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='jquery3.2.1,bootstrap3.3.7'}"/>
